@model MostiSubject_MVC_Board.Models.BoardResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet"/ type="text/css">

@* javascript *@
<script type="text/javascript">

    // submit 전 삭제여부 확인
    function delCheck()
    {
        var ask = confirm("정말 삭제하시겠습니까?");
        if (!ask)
        {
            alert("취소되었습니다.");
            return false;
        }

        return true;
    }

</script>


@* 페이지 기본 정보 *@
<div>
    <h3>
        게시물 조회
    </h3>
    <hr />
</div>

@* 입력 폼 *@
<div style="width:400px;">



        <div class="form-group">
            <h4><span class="label label-default"> 제목 </span></h4>
            <input type="text" value="@Model.boardDetail.title" class="form-control" readonly="readonly" style="background-color:white;" />
        </div>

        <div class="form-group">
            <h4><span class="label label-default">내용</span></h4>
            <textarea rows="30" class="form-control" readonly="readonly" style="background-color:white; -moz-appearance:none; resize:none;">@Model.boardDetail.content</textarea>
        </div>

        <div class="form-group">
            <h4><span class="label label-default">작성자</span></h4>
            <input type="text" value="@Model.boardDetail.u_id" class="form-control" readonly="readonly"/>
        </div>

        <div class="form-group">

            <h4><span class="label label-default">파일</span></h4>

            @using (Html.BeginForm("Detail", "Board", FormMethod.Post))
            {
                <input type="hidden" name="fileName" id="fileName" value="@Model.boardDetail.fileName" />
                if (Model.boardDetail.fileName == "업로드된 파일 없음")
                {
                    <span class="form-control" style="width:280px; background-color:darkgrey;">@Model.boardDetail.fileName</span>
                    <input type="submit" value="다운로드" class="form-control" disabled="disabled">
                }
                else if (Model.boardDetail.fileName == "")
                {
                    <span class="form-control" style="width:280px; background-color:darkgrey;">업로드된 파일 없음</span>
                    <input type="submit" value="다운로드" class="form-control" disabled="disabled">
                }
                else
                {
                    <span class="form-control" style="width:280px;">@Model.boardDetail.fileName</span>
                    <input type="submit" value="다운로드" class="form-control">
                }

            }
        </div>
        
        <div class="form-group">
            @* 수정 *@
            @Html.ActionLink("수정", "Update", "Board", new { board_id = Model.boardDetail.board_id, page = Model.page, search_type = ViewBag.search_type, search_word = ViewBag.search_word}, null)

            @* 삭제 *@
            @using (Html.BeginForm("Delete", "Board", FormMethod.Post, new { @style = "display:inline;", @onsubmit = "return delCheck()" }))
            {
                <input type="hidden" value="@Model.boardDetail.board_id" id="board_id" name="board_id" />
                <input type="submit" value="삭제" style="background-color:white; padding:0; border:none;" class="text-danger" />
            }

            <br />
            @* 돌아가기 *@
          
            @Html.ActionLink("돌아가기", "List", "Board", new { search_type = ViewBag.search_type, search_word = ViewBag.search_word, page = ViewBag.pageNumber }, null)

        </div>

</div>


